
<div class="row" id="userPro">
   
    <div class="col s12 s4" id="proPic">
        <img src="<%=user.pic%>" alt="profile pic">
    </div>
    <div>
        <h4 id="userd"><strong>Username</strong>: <%= user.username %> </h4> 
        <h4 id="userd"><strong>Bio</strong>: <%= user.bio %></h4>
    </div>

</div>


<div class="row center" id="tho">
<h1 id="userd">
    My Posts
</h1 >
<hr>

<% posts.forEach(function(p) { %>
    <div class="well" id="post">
        <% if (p.userId === user.id) { %>
      <h4><%= p.content %></h3>

      <% if(p.tags.length > 0){ %>
          <% p.tags.forEach(function(t) { %>
          <P>#<%= t.tagName %></p>
          <% }); %>
    <%  } %>
<hr>
<form id="delete-form" method="POST" action="/profile/user?_method=DELETE">
    <input type="hidden" name="postId" value="<%=p.id%>">
    <button class="waves-effect waves-light btn-small" type="submit">
        <i class="material-icons center">delete</i>
    </button>
</form>
<a class="waves-effect waves-light btn-small" href="/profile/user/edit/<%=p.id%>"><i class="material-icons center">edit</i></a>
<%}%>
<% }); %>
</div>
</div>



