<h2 id="homet">Coronavirus Statistics </h2>

<div class="row">
    <div class="col s6">
        <div class="card  blue">
            <div class="card-content white-text">
        <span class="flow-text">
        <h4><%= stat[0].country %></h4>
        <p id="statHome"><strong>Total Cases: </strong><%= stat[0].cases %></p>
        <p id="statHome"><strong>Today Cases: </strong><%= stat[0].todayCases %></p>
        <p id="statHome"><strong>Total Deaths: </strong><%= stat[0].deaths %></p>
        <p id="statHome"><strong>Today Deaths: </strong><%= stat[0].todayDeaths %></p>
        <p id="statHome"><strong>Recovered</strong>: <%= stat[0].recovered %></p>
        </span>
            </div>
        </div>
    </div>
        
    <div class="col s6">
        <div class="card  blue">
            <div class="card-content white-text">
        <span class="flow-text">
        <h4><%= stat[1].country %></h4>
        <p id="statHome"><strong>Total Cases: </strong><%= stat[1].cases %></p>
        <p id="statHome"><strong>Today Cases: </strong><%= stat[1].todayCases %></p>
        <p id="statHome"><strong>Total Deaths: </strong><%= stat[1].deaths %></p>
        <p id="statHome"><strong>Today Deaths: </strong><%= stat[1].todayDeaths %></p>
        <p id="statHome"><strong>Recovered</strong>: <%= stat[1].recovered %></p>
        </span>
            </div>
        </div>
    </div>
</div>
<% if (!user){ %>
<a class="btn-floating btn-large waves-effect waves-light red" href="/auth/login" ><i class="material-icons">person</i></a>
<p id="log">Login</p>
<%}%>



 

